* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
html {
	height: 100%;
}
body {
	font-family: verdana, tahoma, arial, sans-serif;
	/*font-size: 14px;*/
	/*color: #000200;*/
	background: #fcfcfc url('/img/bg.png') repeat;
	height: 100%;
}
.fill {
	height: 100%;
}
.panel {
	/*border: 1px solid #e3e3e3;*/
	/*background-color: #eefcfa;*/
}
.login-form-wrapper {
	margin: 30px 0 0 0;
}
.register-form-wrapper .panel-body {
	background: #fcfcfc url('/img/bg.png') repeat;
}
.welcome-box {
	margin: 20px 0;
	padding: 0 20px;
}
.btn-special {
	padding: 6px 12px;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-special:hover {
	background-color: #e6e6e6;
	background-position: 0 -8px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.btn-special:active,
.btn-special.active {
	color: rgba(0, 0, 0, 0.5);
}
.btn-special:hover,
.btn-special:focus,
.btn-special:active,
.btn-special.active {
	background-color: #ebebeb;
}

.green {
	background-color: #eeffee;
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea#notes:focus {
	border: 1px solid #aaa;
	box-shadow: 0 0 7px #ddd;
}

#logout-link {
	margin: 8px 0;
	position: relative;
	float: right;
	font-size: 18px;
	color: #bbb;
	text-decoration: none;
	z-index: 1;
}


.notepad-notices {
	position: relative;
	top: 6px;
}
	.notepad-notice {
		display: none;
		position: absolute;
		vertical-align: bottom;
	}
		.notepad-notice .glyphicon {
			font-size: 24px;
			vertical-align: top;
		}
		#notepad-notice-saved {
			color: #28ae7b;
		}

/*.clear {
	clear: both;
}
.dotted-line {
	margin: 20px 0;
	width: 100%;
	height: 0;
	border-top: 1px solid #99cc99;
	border-bottom: 1px solid #eee;
}
p {
	margin: 0 0 8px 0;
}

#wrapper.login {
	position: absolute;
	left: 6.45%;
	min-width: 800px;
	max-width: 922px;
}
	.login #error,
	.login #content,
	.login #footer {
		position: relative;
	}
	.login #footer {

	}


#wrapper {

	position: absolute;

	top: 0;
	left: 6.45%;
	right: 6.45%;
	bottom: 0;

}

	#error {
		position: relative;
		margin: 20px -15px 0 -15px;
		border-radius: 15px;
		padding: 10px 15px;
		color: #8A0808;
		background-color: #F6CECE;
		z-index: 10;
	}

	#content {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 30px;
		left: 0;


	}

		#header {
			position: absolute;


			top: 0;
			left: 0;
			right: 0;
			height: 45px;
		}


		#login-wrapper {
			
		}

		#login-box {
			margin: 0 30px 20px 0;
			width: 230px;
			float: left;
			position: relative;
		}
		#main-box {

			position: relative;
			overflow: hidden;

			margin: 20px 0;
			padding: 0 20px;

			background-color: #fff;
			border-radius: 8px;
			border: 1px solid #ddd;
		}
			#register-form {
				margin: 20px 0;
				border-top: 1px dotted #bbb;
			}
				#register-form form label {
				}
					#register-form form label span {
						display: inline-block;
						width: 60px;
					}
				#register-form form input[type="submit"] {
					margin: 10px 0 0 0;
				}
			#main-box-demo {
				margin: 20px 0;
				border-top: 1px dotted #bbb;
			}





		#content h2 {
			font-size: 21px;
			margin: 10px 0;
			font-weight: normal;
		}

		#content h3 {
			margin: 10px 0;
			font-weight: normal;
		}

		#note-form {
			position: absolute;
			top: 45px;
			right: 0;
			bottom: 0;
			left: 0;
		}
*/
		#notepad-form {
			position: relative;
			height: 100%;
		}
			.notes-wrapper {
				position: absolute;
				top: 40px;
				right: 0;
				bottom: 55px;
				left: 0;
			}
				#notes {
					position: relative;
					height: 100%;
					color: #000;
					resize: none;
				}
			#under-textarea {
				position: absolute;
				right: 0;
				bottom: 10px;
				left: 0;
			}
				#edited-date-wrapper {
					color: #aaa;
					margin: 8px 0 0 0;
					font-size: 13px;
					float: right;
				}
/*
		#content #under-textarea {
			position: absolute;
			height: 38px;
			right: 0;
			bottom: 0;
			left: 0;
			overflow: hidden;
		}
		#content .textarea.green {
			background-color: #ddffdd;
		}

		#content .textarea:focus {
			border: 1px solid #aaa;
			box-shadow: 0 0 7px #ddd;
		}

		#content label {
			margin: 13px 0 2px 0;
			display: block;
		}

		#content input[type="text"],
		#content input[type="password"] {
			margin: 0 0 0 5px;
			padding: 2px 4px;
			font-size: 13px;
			border: 1px solid #ccc;
			border-radius: 5px;
		}

		#content input[type="text"]:focus,
		#content input[type="password"]:focus {
			box-shadow: 0 0 7px #ddd;
		}

		#content input[type="submit"],
		.button {
			margin: 10px 0 0 0;
			padding: 4px 10px;
			font-size: 13px;
			line-height: 18px;
			color: #333;
			text-align: center;
			text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
			background-color: #fafafa;
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
			background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
			background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
			background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
			background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
			background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
			background-repeat: no-repeat;
			border: 1px solid #ccc;
			border-bottom-color: #bbb;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
			cursor: pointer;
			text-decoration: none;
		}
		#content input[type="submit"]:hover,
		.button:hover {
			color: #333333;
			background-color: #e6e6e6;
			background-position: 0 -8px;
			-webkit-transition: background-position 0.1s linear;
			-moz-transition: background-position 0.1s linear;
			-ms-transition: background-position 0.1s linear;
			-o-transition: background-position 0.1s linear;
			transition: background-position 0.1s linear;
		}
		#content input[type="submit"]:focus,
		.button:focus {
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
		#content input[type="submit"]:active,
		.button:active,
		#content input[type="submit"].active-submit-button {
			background-image: none;
			-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
			-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
			background-color: #e6e6e6;
			background-color: #d9d9d9 \9;
			color: rgba(0, 0, 0, 0.5);
			outline: 0;
		}

		#files-table {
			margin: 5px 0 25px 0;
			border-collapse: collapse;
			width: 100%;
		}
			#files-table td a {
				text-decoration: none;
			}
			#files-table td {
				padding: 10px 0;
				border-bottom: 1px dotted #aaa;
			}
			#files-table td.first-column {
				width: 700px;
			}
				#files-table td.first-column .delete-file {
					visibility: hidden;
				}
				#files-table td.first-column:hover .delete-file {
					visibility: visible;
					color: #aaa;
				}
			#files-table td.second-column {
				text-align: right;
			}

	#footer {
		text-align: right;
		font-size: 13px;

		position: absolute;
		height: 30px;
		left: 0;
		right: 0;
		bottom: 0;
	}
		#footer-copyright {

		}
		#footer-language {

		}
			#footer-language a {
				color: #aaa;
			}

.notice-box {
    height: 300px;
    width: 500px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 15px 5px #555;
    border-radius: 8px;
    opacity: 0.9;
    padding: 10px;
    margin: 0px 0px 0px 440px;
    z-index: 100;
    display: none;
}

.shadow {
    position: absolute;
    top: 0px ;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #000;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 50;
    display: none;
}*/
